
@using (Html.BeginForm("SecretsOfBloodForm", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <!-- Wybór pomiędzy grupami krwi -->
    <div class="border mb-3">
        <div class="border-bottom p-3">
            <h2> Wybierz grupę krwi: </h2>
        </div>
        <div class="col-md-10 p-1">
            <p>@Html.RadioButton("index", 0, true) A</p>
        </div>
        <div class="col-md-10 p-1">
            <p>@Html.RadioButton("index", 1) B</p>
        </div>
        <div class="col-md-10 p-1">
            <p>@Html.RadioButton("index", 2) AB</p>
        </div>
        <div class="col-md-10 p-1">
            <p>@Html.RadioButton("index", 3) O</p>
        </div>
    </div>

    <!-- Wybór współczynnika Rh -->
    <div class="border mb-3">
        <div class="border-bottom p-3">
            <h2> Wskaż współczynnik Rh: </h2>
        </div>
        <div class="col-md-10 p-1">
            <p>@Html.RadioButton("rh", "-", true) -</p>
        </div>
        <div class="col-md-10 p-1">
            <p>@Html.RadioButton("rh", "+") +</p>
        </div>
    </div>

    <div class="col-md-offset-2 cold-md-10">
        <input type="submit" value="Dalej" class="btn btn-success" />
    </div>
}
