

<div>
    <h3>
        Wybrana grupa krwi: @ViewBag.Type @TempData["Rh"]
    </h3>
    <p>
        W Polsce @ViewBag.PercentRh% posiada taką grupę krwi.
    </p>
    <p style="font-style: italic;">
        @ViewBag.Description
    </p>
    @Html.ActionLink("Zobacz charakterystykę innych grup", "OthersBloodTypes", "Home")
</div>