@model IEnumerable<Movie>

@{ 
    ViewData["Title"] = "Lista filmów";
} 

<p>
    @Html.ActionLink("Utwórz nowy", "Create", "Movies")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.YearOfRelease)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var movie in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => movie.YearOfRelease)
            </td>
        </tr>
            } 
    </tbody>
</table>